includes:
	- phpstan-baseline.neon

parameters:
    level: max
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    bootstrapFiles:
        - ../vendor/autoload.php
    excludePaths:
        # Makes PHPStan crash
        - ../src/DependencyInjection/Configuration.php
        - ../src/Repository/PaymentMethodRepository.php
        - ../src/Migrations/
        - ../src/Entity/
        - ../tests/PHPUnit
        - ../src/Manager/SettingsManager.php
        - ../src/Form/Type/SettingsType.php

        # Test dependencies
        - ../tests/Application
        - ../tests/PHPUnit
        - ../install
    ignoreErrors:
        # ignore false positive
        - '#Access to an undefined property Payplug\\Resource\\[a-zA-Z0-9]+::\$#'
        - '#Call to static method getSimulations\(\) on an unknown class Payplug\\OneySimulation.#'
        - '#Strict comparison using !== between null and mixed will always evaluate to true.#'
        - "#^Call to an undefined method Symfony\\\\Component\\\\HttpFoundation\\\\Session\\\\SessionInterface\\:\\:getFlashBag\\(\\)\\.$#"
