parameters:
	ignoreErrors:
		-
			message: "#^Cannot access offset 'cancel_url' on mixed\\.$#"
			count: 2
			path: ../src/Action/CaptureAction.php

		-
			message: "#^Cannot access offset 'postcode' on mixed\\.$#"
			count: 2
			path: ../src/Action/CaptureAction.php

		-
			message: "#^Cannot call method getFirstModel\\(\\) on mixed\\.$#"
			count: 1
			path: ../src/Action/CaptureAction.php

		-
			message: "#^Cannot call method getModel\\(\\) on mixed\\.$#"
			count: 1
			path: ../src/Action/CaptureAction.php

		-
			message: "#^Cannot call method getToken\\(\\) on mixed\\.$#"
			count: 1
			path: ../src/Action/CaptureAction.php

		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 1
			path: ../src/Action/CaptureAction.php

		-
			message: "#^Parameter \\#1 \\$url of class Payum\\\\Core\\\\Reply\\\\HttpRedirect constructor expects string, mixed given\\.$#"
			count: 2
			path: ../src/Action/CaptureAction.php

		-
			message: "#^Cannot call method getSource\\(\\) on mixed\\.$#"
			count: 1
			path: ../src/Action/ConvertPaymentAction.php

		-
			message: "#^Cannot call method setResult\\(\\) on mixed\\.$#"
			count: 1
			path: ../src/Action/ConvertPaymentAction.php

		-
			message: "#^Cannot call method getFirstModel\\(\\) on mixed\\.$#"
			count: 2
			path: ../src/Action/NotifyAction.php

		-
			message: "#^Cannot call method getModel\\(\\) on mixed\\.$#"
			count: 1
			path: ../src/Action/NotifyAction.php

		-
			message: "#^Cannot call method getFirstModel\\(\\) on mixed\\.$#"
			count: 3
			path: ../src/Action/StatusAction.php

		-
			message: "#^Cannot call method getModel\\(\\) on mixed\\.$#"
			count: 2
			path: ../src/Action/StatusAction.php

		-
			message: "#^Cannot call method markNew\\(\\) on mixed\\.$#"
			count: 1
			path: ../src/Action/StatusAction.php

		-
			message: "#^Parameter \\#1 \\$payment of method PayPlug\\\\SyliusPayPlugPlugin\\\\PaymentProcessing\\\\RefundPaymentHandlerInterface\\:\\:updatePaymentStatus\\(\\) expects Sylius\\\\Component\\\\Core\\\\Model\\\\PaymentInterface, mixed given\\.$#"
			count: 1
			path: ../src/Action/StatusAction.php

		-
			message: "#^Parameter \\#1 \\$paymentId of method PayPlug\\\\SyliusPayPlugPlugin\\\\ApiClient\\\\PayPlugApiClientInterface\\:\\:retrieve\\(\\) expects string, mixed given\\.$#"
			count: 3
			path: ../src/Action/StatusAction.php

		-
			message: "#^Parameter \\#1 \\$status of method PayPlug\\\\SyliusPayPlugPlugin\\\\Action\\\\StatusAction\\:\\:markRequestAs\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: ../src/Action/StatusAction.php

		-
			message: "#^Parameter \\#2 \\$request of method PayPlug\\\\SyliusPayPlugPlugin\\\\Action\\\\StatusAction\\:\\:markRequestAs\\(\\) expects Payum\\\\Core\\\\Request\\\\GetStatusInterface, mixed given\\.$#"
			count: 1
			path: ../src/Action/StatusAction.php

		-
			message: "#^Method PayPlug\\\\SyliusPayPlugPlugin\\\\ApiClient\\\\PayPlugApiClient\\:\\:getAccount\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: ../src/ApiClient/PayPlugApiClient.php

		-
			message: "#^Expression on left side of \\?\\? is not nullable\\.$#"
			count: 1
			path: ../src/Checker/CanSaveCardChecker.php

		-
			message: "#^Cannot call method getHostname\\(\\) on mixed\\.$#"
			count: 1
			path: ../src/Checker/CanSavePayplugPaymentMethodChecker.php

		-
			message: "#^Call to function is_string\\(\\) with string will always evaluate to true\\.$#"
			count: 1
			path: ../src/Controller/IpnAction.php

		-
			message: "#^Parameter \\#1 \\$payplugPaymentId of method PayPlug\\\\SyliusPayPlugPlugin\\\\Repository\\\\PaymentRepositoryInterface\\:\\:findOneByPayPlugPaymentId\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: ../src/Controller/IpnAction.php

		-
			message: "#^Cannot cast mixed to int\\.$#"
			count: 1
			path: ../src/Controller/OneyIsProductEligible.php

		-
			message: "#^Parameter \\#2 \\$productVariantCode of method PayPlug\\\\SyliusPayPlugPlugin\\\\Controller\\\\OneyIsProductEligible\\:\\:isProductEligible\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: ../src/Controller/OneyIsProductEligible.php

		-
			message: "#^Cannot cast mixed to int\\.$#"
			count: 1
			path: ../src/Controller/OneySimulationPopin.php

		-
			message: "#^Cannot access offset 'company_name' on mixed\\.$#"
			count: 4
			path: ../src/Creator/PayPlugPaymentDataCreator.php

		-
			message: "#^Cannot access offset 'first_name' on mixed\\.$#"
			count: 2
			path: ../src/Creator/PayPlugPaymentDataCreator.php

		-
			message: "#^Cannot access offset 'last_name' on mixed\\.$#"
			count: 2
			path: ../src/Creator/PayPlugPaymentDataCreator.php

		-
			message: "#^Cannot call method getProductName\\(\\) on mixed\\.$#"
			count: 2
			path: ../src/Creator/PayPlugPaymentDataCreator.php

		-
			message: "#^Cannot call method getQuantity\\(\\) on mixed\\.$#"
			count: 1
			path: ../src/Creator/PayPlugPaymentDataCreator.php

		-
			message: "#^Cannot call method getTotal\\(\\) on mixed\\.$#"
			count: 1
			path: ../src/Creator/PayPlugPaymentDataCreator.php

		-
			message: "#^Cannot call method getUnitPrice\\(\\) on mixed\\.$#"
			count: 1
			path: ../src/Creator/PayPlugPaymentDataCreator.php

		-
			message: "#^Cannot call method getVariant\\(\\) on mixed\\.$#"
			count: 2
			path: ../src/Creator/PayPlugPaymentDataCreator.php

		-
			message: "#^Cannot call method getVariantName\\(\\) on mixed\\.$#"
			count: 1
			path: ../src/Creator/PayPlugPaymentDataCreator.php

		-
			message: "#^Parameter \\#2 \\.\\.\\.\\$values of function sprintf expects bool\\|float\\|int\\|string\\|null, mixed given\\.$#"
			count: 2
			path: ../src/Creator/PayPlugPaymentDataCreator.php

		-
			message: "#^Parameter \\#3 \\.\\.\\.\\$values of function sprintf expects bool\\|float\\|int\\|string\\|null, mixed given\\.$#"
			count: 2
			path: ../src/Creator/PayPlugPaymentDataCreator.php

		-
			message: "#^Right side of && is always true\\.$#"
			count: 1
			path: ../src/Creator/PayPlugPaymentDataCreator.php

		-
			message: "#^Parameter \\#1 \\$number of method Sylius\\\\Component\\\\Order\\\\Repository\\\\OrderRepositoryInterface\\:\\:findOneByNumber\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: ../src/Creator/RefundUnitsCommandCreatorDecorator.php

		-
			message: "#^Parameter \\#1 \\$input of method Payum\\\\Core\\\\Bridge\\\\Spl\\\\ArrayObject\\:\\:defaults\\(\\) expects array\\|Traversable, mixed given\\.$#"
			count: 1
			path: ../src/Gateway/AbstractGatewayFactory.php

		-
			message: "#^Parameter \\#1 \\$required of method Payum\\\\Core\\\\Bridge\\\\Spl\\\\ArrayObject\\:\\:validateNotEmpty\\(\\) expects array, mixed given\\.$#"
			count: 1
			path: ../src/Gateway/AbstractGatewayFactory.php

		-
			message: "#^Parameter \\#1 \\$secretKey of class PayPlug\\\\SyliusPayPlugPlugin\\\\ApiClient\\\\PayPlugApiClient constructor expects string, mixed given\\.$#"
			count: 1
			path: ../src/Gateway/AbstractGatewayFactory.php

		-
			message: "#^Cannot call method getId\\(\\) on mixed\\.$#"
			count: 1
			path: ../src/Gateway/Form/Type/AbstractGatewayConfigurationType.php

		-
			message: "#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: ../src/Gateway/Form/Type/ApplePayGatewayConfigurationType.php

		-
			message: "#^Parameter \\#1 \\$name of method Symfony\\\\Component\\\\Form\\\\FormInterface\\:\\:get\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: ../src/Gateway/Form/Type/ApplePayGatewayConfigurationType.php

		-
			message: "#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: ../src/Gateway/Form/Type/BancontactGatewayConfigurationType.php

		-
			message: "#^Parameter \\#1 \\$name of method Symfony\\\\Component\\\\Form\\\\FormInterface\\:\\:get\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: ../src/Gateway/Form/Type/BancontactGatewayConfigurationType.php

		-
			message: "#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: ../src/Gateway/Form/Type/OneyGatewayConfigurationType.php

		-
			message: "#^Parameter \\#1 \\$name of method Symfony\\\\Component\\\\Form\\\\FormInterface\\:\\:get\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: ../src/Gateway/Form/Type/OneyGatewayConfigurationType.php

		-
			message: "#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: ../src/Gateway/Form/Type/PayPlugGatewayConfigurationType.php

		-
			message: "#^Cannot access offset 'payum\\.http_client' on mixed\\.$#"
			count: 1
			path: ../src/Gateway/Form/Type/PayPlugGatewayConfigurationType.php

		-
			message: "#^Parameter \\#1 \\$name of method Symfony\\\\Component\\\\Form\\\\FormInterface\\:\\:get\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: ../src/Gateway/Form/Type/PayPlugGatewayConfigurationType.php

		-
			message: "#^Cannot call method getData\\(\\) on mixed\\.$#"
			count: 1
			path: ../src/Gateway/Validator/Constraints/IsCanSaveCardsValidator.php

		-
			message: "#^Method PayPlug\\\\SyliusPayPlugPlugin\\\\Gateway\\\\Validator\\\\Constraints\\\\IsCanSaveCardsValidator\\:\\:validate\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: ../src/Gateway/Validator/Constraints/IsCanSaveCardsValidator.php

		-
			message: "#^Cannot call method getData\\(\\) on mixed\\.$#"
			count: 2
			path: ../src/Gateway/Validator/Constraints/IsCanSavePaymentMethodValidator.php

		-
			message: "#^Method PayPlug\\\\SyliusPayPlugPlugin\\\\Gateway\\\\Validator\\\\Constraints\\\\IsCanSavePaymentMethodValidator\\:\\:validate\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: ../src/Gateway/Validator/Constraints/IsCanSavePaymentMethodValidator.php

		-
			message: "#^Method PayPlug\\\\SyliusPayPlugPlugin\\\\Gateway\\\\Validator\\\\Constraints\\\\IsOneyEnabledValidator\\:\\:validate\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: ../src/Gateway/Validator/Constraints/IsOneyEnabledValidator.php

		-
			message: "#^Method PayPlug\\\\SyliusPayPlugPlugin\\\\Gateway\\\\Validator\\\\Constraints\\\\IsPayPlugSecretKeyValidator\\:\\:validate\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: ../src/Gateway/Validator/Constraints/IsPayPlugSecretKeyValidator.php

		-
			message: "#^Cannot access offset 'customer_id' on mixed\\.$#"
			count: 3
			path: ../src/Handler/PaymentNotificationHandler.php

		-
			message: "#^Cannot access property \\$brand on mixed\\.$#"
			count: 1
			path: ../src/Handler/PaymentNotificationHandler.php

		-
			message: "#^Cannot access property \\$country on mixed\\.$#"
			count: 1
			path: ../src/Handler/PaymentNotificationHandler.php

		-
			message: "#^Cannot access property \\$exp_month on mixed\\.$#"
			count: 1
			path: ../src/Handler/PaymentNotificationHandler.php

		-
			message: "#^Cannot access property \\$exp_year on mixed\\.$#"
			count: 1
			path: ../src/Handler/PaymentNotificationHandler.php

		-
			message: "#^Cannot access property \\$id on mixed\\.$#"
			count: 4
			path: ../src/Handler/PaymentNotificationHandler.php

		-
			message: "#^Cannot access property \\$last4 on mixed\\.$#"
			count: 1
			path: ../src/Handler/PaymentNotificationHandler.php

		-
			message: "#^Parameter \\#1 \\$timestamp of method DateTimeImmutable\\:\\:setTimestamp\\(\\) expects int, mixed given\\.$#"
			count: 1
			path: ../src/Handler/PaymentNotificationHandler.php

		-
			message: "#^Parameter \\#1 \\$timestamp of method DateTimeImmutable\\:\\:setTimestamp\\(\\) expects int, mixed given\\.$#"
			count: 1
			path: ../src/Resolver/PaymentStateResolver.php
		-
			message: "#^Parameter \\#1 \\$timestamp of method DateTimeImmutable\\:\\:setTimestamp\\(\\) expects int, mixed given\\.$#"
			count: 1
			path: ../src/Action/CaptureAction.php

		-
			message: "#^Parameter \\#2 \\$array of function array_key_exists expects array, mixed given\\.$#"
			count: 2
			path: ../src/Handler/PaymentNotificationHandler.php

		-
			message: "#^Parameter \\#2 \\$search of function array_key_exists expects array, mixed given\\.$#"
			count: 2
			path: ../src/Handler/PaymentNotificationHandler.php

		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Assert\\:\\:isInstanceOf\\(\\) with DateTimeInterface and 'DateTimeInterface' will always evaluate to true\\.$#"
			count: 1
			path: ../src/MessageHandler/RefundPaymentGeneratedHandler.php

		-
			message: "#^Cannot call method getId\\(\\) on mixed\\.$#"
			count: 2
			path: ../src/PaymentProcessing/RefundPaymentHandler.php

		-
			message: "#^Method PayPlug\\\\SyliusPayPlugPlugin\\\\PaymentProcessing\\\\RefundPaymentHandler\\:\\:parseIdsToUnitRefunds\\(\\) should return array\\<Sylius\\\\RefundPlugin\\\\Model\\\\UnitRefundInterface\\> but returns array\\<int, object\\>\\.$#"
			count: 1
			path: ../src/PaymentProcessing/RefundPaymentHandler.php

		-
			message: "#^Cannot cast mixed to int\\.$#"
			count: 1
			path: ../src/Provider/ApplePayOrderProvider.php

		-
			message: "#^Parameter \\#1 \\$number of method Sylius\\\\Component\\\\Order\\\\Repository\\\\OrderRepositoryInterface\\:\\:findOneByNumber\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: ../src/Provider/ApplePaySupportedRefundPaymentMethodsProviderDecorator.php

		-
			message: "#^Parameter \\#1 \\$number of method Sylius\\\\Component\\\\Order\\\\Repository\\\\OrderRepositoryInterface\\:\\:findOneByNumber\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: ../src/Provider/BancontactSupportedRefundPaymentMethodsProviderDecorator.php

		-
			message: "#^Method PayPlug\\\\SyliusPayPlugPlugin\\\\Provider\\\\OneySimulation\\\\CachedSimulationDataProvider\\:\\:getForCart\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: ../src/Provider/OneySimulation/CachedSimulationDataProvider.php

		-
			message: "#^Parameter \\#1 \\$number of method Sylius\\\\Component\\\\Order\\\\Repository\\\\OrderRepositoryInterface\\:\\:findOneByNumber\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: ../src/Provider/OneySupportedRefundPaymentMethodsProviderDecorator.php

		-
			message: "#^Parameter \\#1 \\$timestamp of method DateTimeImmutable\\:\\:setTimestamp\\(\\) expects int, mixed given\\.$#"
			count: 1
			path: ../src/Provider/Payment/ApplePayPaymentProvider.php

		-
			message: "#^Parameter \\#2 \\$array of function array_key_exists expects array, mixed given\\.$#"
			count: 1
			path: ../src/Provider/Payment/ApplePayPaymentProvider.php

		-
			message: "#^Parameter \\#2 \\$search of function array_key_exists expects array, mixed given\\.$#"
			count: 1
			path: ../src/Provider/Payment/ApplePayPaymentProvider.php

		-
			message: "#^Parameter \\#1 \\$number of method Sylius\\\\Component\\\\Order\\\\Repository\\\\OrderRepositoryInterface\\:\\:findOneByNumber\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: ../src/Provider/SupportedRefundPaymentMethodsProviderDecorator.php

		-
			message: "#^Method PayPlug\\\\SyliusPayPlugPlugin\\\\Repository\\\\PaymentRepository\\:\\:findAllActiveByGatewayFactoryName\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: ../src/Repository/PaymentRepository.php

		-
			message: "#^Method PayPlug\\\\SyliusPayPlugPlugin\\\\Repository\\\\PaymentRepository\\:\\:findOneByPayPlugPaymentId\\(\\) should return Sylius\\\\Component\\\\Core\\\\Model\\\\PaymentInterface but returns mixed\\.$#"
			count: 1
			path: ../src/Repository/PaymentRepository.php

		-
			message: "#^Method PayPlug\\\\SyliusPayPlugPlugin\\\\Repository\\\\RefundHistoryRepository\\:\\:findLastProcessedRefundForPayment\\(\\) should return PayPlug\\\\SyliusPayPlugPlugin\\\\Entity\\\\RefundHistory\\|null but returns mixed\\.$#"
			count: 1
			path: ../src/Repository/RefundHistoryRepository.php

		-
			message: "#^Method PayPlug\\\\SyliusPayPlugPlugin\\\\Repository\\\\RefundHistoryRepository\\:\\:findLastRefundForPayment\\(\\) should return PayPlug\\\\SyliusPayPlugPlugin\\\\Entity\\\\RefundHistory\\|null but returns mixed\\.$#"
			count: 1
			path: ../src/Repository/RefundHistoryRepository.php

		-
			message: "#^Method PayPlug\\\\SyliusPayPlugPlugin\\\\Twig\\\\GetCurrentRouteExtension\\:\\:payplugGetCurrentRoute\\(\\) should return string but returns mixed\\.$#"
			count: 1
			path: ../src/Twig/GetCurrentRouteExtension.php

		-
			message: "#^Cannot access offset 'slug' on mixed\\.$#"
			count: 1
			path: ../src/Twig/OneyRulesExtension.php

		-
			message: "#^Parameter \\#3 \\$slug of method Sylius\\\\Component\\\\Core\\\\Repository\\\\ProductRepositoryInterface\\:\\:findOneByChannelAndSlug\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: ../src/Twig/OneyRulesExtension.php

		-
			message: "#^Parameter \\#1 \\$tokenValue of method Sylius\\\\Component\\\\Order\\\\Repository\\\\OrderRepositoryInterface\\:\\:findOneByTokenValue\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: ../src/Twig/OneySimulationExtension.php
		-
			message: "#^PHPDoc tag @param for parameter \\$paymentMethodRepository contains generic type Sylius\\\\Component\\\\Resource\\\\Repository\\\\RepositoryInterface\\<Sylius\\\\Component\\\\Core\\\\Model\\\\PaymentMethodInterface\\> but interface Sylius\\\\Component\\\\Resource\\\\Repository\\\\RepositoryInterface is not generic\\.$#"
			count: 1
			path: ../src/Controller/IntegratedPaymentController.php

		-
			message: "#^PHPDoc tag @var for property PayPlug\\\\SyliusPayPlugPlugin\\\\Controller\\\\IntegratedPaymentController\\:\\:\\$paymentMethodRepository contains generic type Sylius\\\\Component\\\\Resource\\\\Repository\\\\RepositoryInterface\\<Sylius\\\\Component\\\\Core\\\\Model\\\\PaymentMethodInterface\\> but interface Sylius\\\\Component\\\\Resource\\\\Repository\\\\RepositoryInterface is not generic\\.$#"
			count: 1
			path: ../src/Controller/IntegratedPaymentController.php
