/vendor/
/node_modules/
/composer.lock

/etc/build/*
!/etc/build/.gitignore

/tests/Application/*

/behat.yml
/phpspec.yml
/yarn-error.log

/.idea
*.map

/tests/TestApplication/.env.local
/tests/TestApplication/.env.*.local
/var/
