includes:
	- phpstan-baseline.neon

parameters:
    level: max
    reportUnmatchedIgnoredErrors: false
    paths:
        - ../src
    bootstrapFiles:
        - ../vendor/autoload.php
    excludePaths:
        # Makes PHPStan crash
        - ../src/DependencyInjection/
        - ../migrations
        # Test dependencies
        - ../tests/TestApplication?
        - ../tests/PHPUnit
    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
        # ignore false positive
        - '#Access to an undefined property Payplug\\Resource\\[a-zA-Z0-9]+::\$#'
        - '#Call to static method getSimulations\(\) on an unknown class Payplug\\OneySimulation.#'
        - '#Strict comparison using !== between null and mixed will always evaluate to true.#'
        - "#^Call to an undefined method Symfony\\\\Component\\\\HttpFoundation\\\\Session\\\\SessionInterface\\:\\:getFlashBag\\(\\)\\.$#"
