{% set form = hookable_metadata.context.form %}

<div {{ stimulus_controller('@payplug/sylius-payplug-plugin/payment-logo', {
    inputId: form.vars.id,
    logoUrl: asset('bundles/payplugsyliuspayplugplugin/assets/wero/logo.svg'),
    className: 'wero-label'
}) }}></div>
