.oney-info {
    position: relative;
    display: inline-block;

    span {
        vertical-align: middle;
        text-transform: uppercase;
        font-size: 1.1rem;
    }

    img {
        cursor: pointer;
        vertical-align: middle;
    }
}
