<h1 class="ui header">
    {{ 'payplug_sylius_payplug_plugin.ui.account.saved_cards.title'|trans }}
</h1>
<div class="sub header">{{ 'payplug_sylius_payplug_plugin.ui.account.saved_cards.sub_title'|trans }}</div>
