{
  "extends": [
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "parserOptions": {
    "parser": "babel-eslint",
    "sourceType": "module"
  },
  "env": {
    "es6": true
  },
  "rules": {
    "prettier/prettier": [
      "error", {
        "tabWidth": 2,
        "bracketSpacing": true,
        "eslintIntegration": true,
        "printWidth": 120
      }
    ],
    "prefer-template": "error",
    "prefer-arrow-callback": "error"
  }
}
