@import "../../settings/constants.scss";

.sylius-customer-account-saved-cards-grid {
    .ui {
        &.table {
            td {
                span {
                    &.expired {
                        color: $red;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 767px) {
    .ui {
        &.segment {
            &.sylius-customer-account-saved-cards-grid {
                -webkit-box-shadow: none;
                box-shadow: none;
                background: none;
                border: 0;
                padding: 0;
            }
        }

        &.basic {
            &.table {
                tbody {
                    tr {
                        position: relative;
                        background: #fff;
                        -webkit-box-shadow: 0 1px 2px 0 rgb(34, 36, 38, 0.15) !important;
                        box-shadow: 0 1px 2px 0 rgb(34, 36, 38, 0.15) !important;
                        margin: 1rem 0 2rem 0;
                        padding: 1em;
                        border-radius: .28571429rem;
                        border: 1px solid rgba($darkgrey, 0.26);

                        &:first-child {
                            margin-top: 0;
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    .sylius-customer-account-saved-cards-grid {
        .ui {
            &.table {
                td {
                    &:before {
                        content: attr(data-label);
                        float: left;
                        font-weight: bold;
                    }

                    &[data-label] {
                        > span {
                            margin-left: 3px;
                        }
                    }
                }

                &:not(.unstackable) {
                    thead {
                        border: none;
                        clip: rect(0 0 0 0);
                        height: 1px;
                        margin: -1px;
                        overflow: hidden;
                        padding: 0;
                        position: absolute;
                        width: 1px;
                    }

                    tr {
                        > td {
                            display: block;
                            font-weight: normal;

                            &.actions {
                                text-align: right;
                                margin-top: 1rem;
                            }
                        }

                        > th,
                        > td {
                            padding: 0 !important;
                        }
                    }
                }
            }
        }
    }
}
