.oney-popin {
    display: none;
    background-color: white;
    padding: 10px;
    position: absolute;
    z-index: 99;
    max-width: 20em;
    top: 0;
    left: calc(-20em - 32px);
    transform: translateY(calc(-100% / 3 + 10px));

    &:after {
        content: '';
        display: inline-block;
        height: 0;
        width: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        position: absolute;
        right: -20px;
        top: calc(100% / 3 - 10px);
    }

    &.enabled {
        border: 1px solid #81bc00;

        hr {
            border-color: #81bc00;
        }

        &:after {
            border-left: 20px solid #81bc00;
        }

        a.close > span {
            background: #81bc00;
        }

        .oney-popin__content > p {
            color: #81bc00;
        }
    }

    &.disabled {
        border: 1px solid #cccccc;

        hr {
            border-color: #cccccc;
        }

        &:after {
            border-left: 20px solid #cccccc;
        }

        a.close > span {
            background: #cccccc;
        }

        .oney-popin__content > p {
            color: #66727f;
        }
    }

    &__header {
        text-align: right;

        a.close {
            > span {
                position: absolute;
                width: 15px;
                height: 2px;
                right: .5em;
                top: 1em;
                margin: 0;
                border-radius: 0;

                &:first-of-type {
                    transform: rotate(55deg);
                }

                &:last-of-type {
                    transform: rotate(-55deg);

                }
            }
        }
    }

    &__content {
        > p {
            &:not(.reasons) {
                text-transform: uppercase;
                margin-bottom: 0;
                font-size: 16px;

                &:last-of-type {
                    margin-bottom: 1em;
                }
            }
        }
    }

    &__footer {
        margin-top: 1em;

        > p {
            text-align: justify;
        }
    }

    section {
        display: flex;
        align-items: flex-start;
    }

    img {
        height: auto;
        margin-right: .5em;
    }

    hr {
        border-top-width: 1px;
        border-top-style: solid;
        border-bottom: 0;
        border-left: 0;
        border-right: 0;
        margin: 1.25em 0;
    }
}
