sylius_refund_complete_refund_payment:
    path: /%sylius_admin.path_name%/orders/{orderNumber}/refund-payments/{id}/complete
    methods: [POST]
    defaults:
        _controller: PayPlug\SyliusPayPlugPlugin\Action\Admin\CompleteRefundPaymentAction

sylius_refund_refund_units:
    path: /%sylius_admin.path_name%/orders/{orderNumber}/refund-units
    defaults:
        _controller: PayPlug\SyliusPayPlugPlugin\Action\Admin\RefundUnitsAction

payplug_sylius_oney_complete_info:
    path: /{_locale}/payplug/oney_complete_info
    methods: ['GET', 'POST']
    defaults:
        _controller: 'PayPlug\SyliusPayPlugPlugin\Controller\CompleteInfoController'

payplug_sylius_oney_simulation_popin:
    path: /{_locale}/payplug/oney_popin
    methods: ['GET']
    defaults:
        _controller: 'PayPlug\SyliusPayPlugPlugin\Controller\OneySimulationPopin'

payplug_sylius_oney_is_product_eligible:
    path: /{_locale}/payplug/oney/is-product-eligible
    methods: ['GET']
    defaults:
        _controller: 'PayPlug\SyliusPayPlugPlugin\Controller\OneyIsProductEligible'

payplug_sylius_card_account_index:
    path: /{_locale}/account/saved-cards
    methods: ['GET']
    defaults:
        _controller: 'PayPlug\SyliusPayPlugPlugin\Controller\CardController::indexAction'

payplug_sylius_card_account_delete:
    path: /{_locale}/account/saved-cards/delete/{id}
    methods: ['DELETE']
    defaults:
        _controller: 'PayPlug\SyliusPayPlugPlugin\Controller\CardController::deleteAction'

payplug_sylius_oneclick_verification:
    path: /{_locale}/payment/capture/{payum_token}/1-click-checkup
    methods: ['GET']
    defaults:
        _controller: 'PayPlug\SyliusPayPlugPlugin\Controller\OneClickAction'

payplug_shop_checkout_apple_prepare:
    path: /payplug/apple-pay/prepare
    methods: [POST, GET]
    defaults:
        _controller: 'PayPlug\SyliusPayPlugPlugin\Controller\OrderController::initiateApplePaySessionAction'
        _sylius:
            event: payment_selected
            flash: false
            repository:
                method: findCartForSummary
                arguments:
                    - "expr:service('sylius.context.cart').getCart().getId()"
            state_machine:
                graph: sylius_order_checkout
                transition: select_payment

payplug_shop_checkout_apple_confirm:
    path: /payplug/apple-pay/complete
    methods: [POST, GET]
    defaults:
        _controller: 'PayPlug\SyliusPayPlugPlugin\Controller\OrderController::confirmApplePayPaymentAction'
        _sylius:
            flash: false
            repository:
                method: findCartForSummary
                arguments:
                    - "expr:service('sylius.context.cart').getCart().getId()"
            state_machine:
                graph: sylius_order_checkout
                transition: complete

payplug_shop_checkout_apple_cancel:
    path: /payplug/apple-pay/cancel
    methods: [POST, GET]
    defaults:
        _controller: 'PayPlug\SyliusPayPlugPlugin\Controller\OrderController::cancelApplePaySessionAction'
        _sylius:
            flash: false
            repository:
                method: findCartForSummary
                arguments:
                    - "expr:service('sylius.context.cart').getCart().getId()"
            state_machine:
                graph: sylius_order_checkout
                transition: select_shipping
