sylius_ui:
    events:
        sylius.shop.product.show.right_sidebar:
            blocks:
                pay_with_oney:
                    template: '@PayPlugSyliusPayPlugPlugin/oney/product/pay_with_oney.html.twig'
                    priority: 29 # After price widget
                    context:
                        legacy_event: 'sonata.block.event.sylius.shop.product.show.after_price'
        sylius.shop.cart.summary.totals:
            blocks:
                pay_with_oney:
                    template: '@PayPlugSyliusPayPlugPlugin/oney/cart/pay_with_oney.html.twig'
        sylius.shop.layout.javascripts:
            blocks:
                webfontloader:
                    template: '@PayPlugSyliusPayPlugPlugin/javascripts/webfont_loader.html.twig'
                oney_common:
                    template: '@PayPlugSyliusPayPlugPlugin/javascripts/oney_common.html.twig'
        sylius.shop.layout.stylesheets:
            blocks:
                oney_common:
                    template: '@PayPlugSyliusPayPlugPlugin/stylesheets/oney_common.html.twig'
        sylius.shop.account.saved_cards.index.header.content:
            blocks:
                legacy:
                    template: "@SyliusUi/Block/_legacySonataEvent.html.twig"
                    context:
                        event: sylius.shop.account.saved_cards.index.header
        sylius.shop.account.saved_cards.layout.stylesheets:
            blocks:
                saved_cards:
                    template: '@PayPlugSyliusPayPlugPlugin/stylesheets/saved_cards.html.twig'
        sylius.shop.account.saved_cards.index.subcontent:
            blocks:
                header:
                    template: '@SyliusShop/Account/SavedCards/Index/_header.html.twig'
                    priority: 20
                after_content_header_legacy:
                    template: "@SyliusUi/Block/_legacySonataEvent.html.twig"
                    priority: 15
                    context:
                        event: sylius.shop.account.order.index.after_content_header
                subcontent:
                    template: "@SyliusShop/Account/SavedCards/Index/_subcontent.html.twig"
                    priority: 10
                after_grid_legacy:
                    template: "@SyliusUi/Block/_legacySonataEvent.html.twig"
                    priority: 5
                    context:
                        event: sylius.shop.account.order.index.after_grid
        sylius.admin.payment_method.create.stylesheets: &cssEvt
            blocks:
                payment_methods_css:
                    template: '@PayPlugSyliusPayPlugPlugin/stylesheets/payment_method_css.html.twig'
        sylius.admin.payment_method.update.stylesheets: *cssEvt
        sylius.shop.checkout.select_payment.before_form: &selectPayment
            blocks:
                select_payment_css:
                    template: '@PayPlugSyliusPayPlugPlugin/stylesheets/select_payment_css.html.twig'
                select_payment_js:
                    template: '@PayPlugSyliusPayPlugPlugin/javascripts/select_payment_js.html.twig'
        sylius.shop.order.select_payment.before_form: *selectPayment