{% if is_oney_enabled() %}
    {% set logo_name = '3x4x-alt.svg' %}
    {% set data = [] %}
    {% if oney_cart_eligible() %}
        {% set logo_name = '3x4x.svg' %}
        {% set data = oney_simulation_data() %}
    {% endif %}
    <div class="oney-info">
        <span style="vertical-align: middle;text-transform: uppercase; font-size: 1.1rem">{{ 'payplug_sylius_payplug_plugin.ui.or_pay_with_oney'|trans }}</span>
        <img style="vertical-align: middle" src="{{ asset('bundles/payplugsyliuspayplugplugin/assets/oney/' ~ logo_name) }}" alt="oney-logo"/>
    </div>
    {% if data is not empty %}
        {% include '@PayPlugSyliusPayPlugPlugin/SyliusShopBundle/oney/popin.html.twig' %}
    {% endif %}
{% endif %}
