{% extends '@SyliusShop/account/common/index.html.twig' %}

{% from '@SyliusShop/shared/breadcrumbs.html.twig' import breadcrumbs as breadcrumbs %}

{% block content %}
    <div class="container mb-auto">
        <div class="row my-4">
            {% block breadcrumb %}
                <div class="col-12">
                    {{ breadcrumbs([
                        { label: 'sylius.ui.home'|trans, path: path('sylius_shop_homepage')},
                        { label: 'sylius.ui.my_account'|trans, path: path('sylius_shop_account_dashboard')},
                        { label: 'payplug_sylius_payplug_plugin.ui.account.saved_cards.title'|trans, active: true}
                    ]) }}
                </div>
            {% endblock %}

            <div class="col-12 col-md-3 mb-4 mb-md-0">
                {% hook 'sylius_shop.account.common.index.content.menu' %}
            </div>

            <div class="col-12 col-md-9">
                {% block subcontent %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
