.oney-payment-choice {
    display: none;

    &__container {
        display: flex;
        margin: 1rem 0;
    }

    &__item {
        flex: 1 1 auto;

        &:first-of-type {
            margin-right: 1em;
        }

        input {
            display: none;

            &:checked + label {
                border-color: #81bc00;
                background-color: #81bc0021;
            }
        }

        label {
            width: 100%;
            height: 100%;
            cursor: pointer;
            position: relative;
            display: flex;
            flex-direction: column;
            border: 1px solid #cccccc;
            box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
            padding: 1em 1em;
            border-radius: .28571429rem;
            transition: border-color, background-color 300ms ease-in-out;

            img {
                vertical-align: text-bottom;
            }
        }
    }

    &__header {
        margin: 0 auto;
        text-align: center;

        p {
            margin: .5em 0 !important;
            color: #000000;
        }
    }

    &__content {
        display: contents;

        p {
            color: #000000;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            border-bottom: 1px solid #cccccc;
            margin: 0 !important;
            padding: .75rem 0 !important;

            &:nth-last-of-type(2) {
                margin-bottom: 1rem !important;
            }

            &:last-of-type {
                margin-top: auto !important;
                border: none;
                margin-bottom: 0 !important;
            }
        }

        small {
            margin-top: .5rem;
            font: {
                size: 80%;
            }
        }
    }
}

.oney-complete-info-popin {
    position: fixed !important;
    margin: auto !important;
    text-align: center;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    max-width: 480px;
    z-index: 4;

    &__header {
        text-align: right;

        a.close {
            > span {
                position: absolute;
                width: 15px;
                height: 2px;
                right: .5em;
                top: 1em;
                margin: 0;
                border-radius: 0;
                background-color: rgba(0,0,0,.05);

                &:first-of-type {
                    transform: rotate(45deg);
                }

                &:last-of-type {
                    transform: rotate(-45deg);

                }
            }
        }
    }

    &__content {
        text-align: left;

        ul {
            list-style: none;
            padding: 0;

            li {
                display: inline-block;
                margin: 0 .14285714em;
                padding: .5833em .833em;
                font-weight: 700;
                border-radius: .28571429rem;
                background-color: #db2828;
                border-color: #db2828;
                color: #fff;
                font-size: .85714286rem;
            }
        }
    }

    &__success {
        display: none;

        i.icon {
            display: inline-block !important;
            color: #21ba45;
        }
    }
}

.ui.container {
    position: relative;
}

.inactive {
    pointer-events: none;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    background: rgba(0,0,0,.25);
    z-index: 3;
}

@media screen and (max-width: 991px) {
    .oney-payment-choice {
        &__container {
            display: block;
        }

        &__content {
            small {
                width: 100%;
            }
        }

        &__item {
            &:first-of-type {
                margin-right: 0;
                margin-bottom: 1rem;
            }
        }
    }
}
