[class*=oney] * {
    font: {
        family: Poppins, Arial, sans-serif;
    }

    line-height: 1.25;

    p {
        color: #66727F;
    }

    small {
        font: {
            size: 90%;
        }
    }
}
