@import "../../settings/constants.scss";

.oney-popin {
    display: none;
    background-color: white;
    padding: 10px;
    position: absolute;
    z-index: 99;
    max-width: 20em;
    top: 0;
    left: calc(-20em - 32px);
    transform: translateY(calc(-100% / 3 + 10px));

    &:after {
        content: '';
        display: inline-block;
        height: 0;
        width: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        position: absolute;
        right: -20px;
        top: calc(100% / 3 - 10px);
    }

    &.enabled {
        border: 1px solid $green;

        hr {
            border-color: $green;
        }

        &:after {
            border-left: 20px solid $green;
        }

        a.close > span {
            background: $green;
        }

        .oney-popin__content > p {
            color: $green;
        }
    }

    &.disabled {
        border: 1px solid $lightgrey;

        hr {
            border-color: $lightgrey;
        }

        &:after {
            border-left: 20px solid $lightgrey;
        }

        a.close > span {
            background: $lightgrey;
        }

        .oney-popin__content > p {
            color: $greyish;
        }
    }

    &__header {
        text-align: right;

        a.close {
            position: absolute;
            top: 0;
            right: 0;
            width: 40px;
            height: 40px;

            > span {
                position: absolute;
                width: 15px;
                height: 2px;
                right: .5em;
                top: 1em;
                margin: 0;
                border-radius: 0;

                &:first-of-type {
                    transform: rotate(55deg);
                }

                &:last-of-type {
                    transform: rotate(-55deg);

                }
            }
        }
    }

    &__content {
        > p {
            &:not(.reasons) {
                text-transform: uppercase;
                margin-bottom: 0;
                font-size: 16px;

                &:last-of-type {
                    margin-bottom: 1em;
                }
            }
            &.reasons {
              // avoid superposition of closing button over text
              max-width: 95%;
            }
        }
    }

    &__footer {
        margin-top: 1em;

        > p {
            text-align: justify;
        }
    }

    section {
        display: flex;
        align-items: flex-start;
    }

    img {
        height: auto;
        margin-right: .5em;
    }

    hr {
        border-top-width: 1px;
        border-top-style: solid;
        border-bottom: 0;
        border-left: 0;
        border-right: 0;
        margin: 1.25em 0;
    }
}

@media screen and (max-width: 768px) {
    .oney-popin {
        top: 60px;
        left: 0;
        transform: none;

        &__header {
            a.close {
                padding: 10px 50px;
            }
        }

        &:after {
            transform: rotate(-90deg);
            right: calc(50% - 10px);
            top: -30px;
        }
    }
}
