{% set form = hookable_metadata.context.form %}
{% set method = hookable_metadata.context.method %}
{% set order = hookable_metadata.context.order %}
{% set factoryName = method.gatewayConfig.factoryName %}
{% set code = method.code %}

{% set payplugFactoryName = constant('PayPlug\\SyliusPayPlugPlugin\\Gateway\\PayplugGatewayFactory::FACTORY_NAME') %}
{% set checkboxClass = 'checkbox-payplug' %}

{% set hasSavedCards = false %}
{% if is_granted('ROLE_USER')
    and form.parent.parent.payplug_card_choice is defined
    and is_save_card_enabled(method)
    and sylius.customer.cards is not empty
%}
    {% set hasSavedCards = true %}
{% endif %}

<div class="content" {{ stimulus_controller('@payplug/sylius-payplug-plugin/integrated-payment') }}>
    <a class="header">
        {{ form_label(form, null, {'label_attr': {'data-test-payment-method-label': '', 'data-gateway': 'payplug'}}) }}
    </a>

    {% if hasSavedCards %}
        {# TODO: Is it ok to have form_row? #}
        <div class="payplug-payment-choice payment-method-choice" data-payment-input-id="{{ form.vars.id }}">
            {{ form_row(form.parent.parent.payplug_card_choice) }}
        </div>
    {% endif %}

    {% if method.gatewayConfig.config.integratedPayment is defined and method.gatewayConfig.config.integratedPayment is same as true %}
        {# TODO: Use hook? #}
        {% include '@PayPlugSyliusPayPlugPlugin/form/integrated.html.twig' with {
            'paymentMethod': method,
            'payment': order.getLastPayment('cart'),
            'hasSavedCards': hasSavedCards,
        } %}
    {% endif %}
</div>

