{% set form = hookable_metadata.context.form %}
{% set method = hookable_metadata.context.method %}
{% set order = hookable_metadata.context.order %}
{% set factoryName = method.gatewayConfig.factoryName %}
{% set code = method.code %}

{% set americanExpressFactoryName = constant('PayPlug\\SyliusPayPlugPlugin\\Gateway\\AmericanExpressGatewayFactory::FACTORY_NAME') %}
{% set checkboxClass = 'checkbox-american-express' %}

<div class="content">
    <a class="header">

        <div class="american-express-method">
            <label for="{{ form.vars.id }}" data-test-payment-method-label="" data-gateway="american-express">{{ form.vars.label }}
                <img src="{{ asset('bundles/payplugsyliuspayplugplugin/assets/american-express/logo.svg') }}" class="american-express-logo" alt="American Express" height="45" width="60" />
            </label>
        </div>
    </a>
</div>

