<h1 class="ui header">
    {{ 'payplug_sylius_payplug_plugin.ui.account.saved_cards.title'|trans }}
    <div class="sub header">{{ 'payplug_sylius_payplug_plugin.ui.account.saved_cards.sub_title'|trans }}</div>

    {{ sylius_template_event('sylius.shop.account.saved_cards.index.header.content') }}
</h1>