{% if is_oney_enabled() %}
    {% set logo_name = '3x4x-alt.svg' %}
    {% set data = [] %}
    {% if oney_cart_eligible() %}
        {% set logo_name = '3x4x.svg' %}
        {% set data = oney_simulation_data() %}
    {% else %}
        {% set data = oney_ineligible_reasons() %}
    {% endif %}
    <div class="oney-info">
        <span>{{ 'payplug_sylius_payplug_plugin.ui.or_pay_with_oney'|trans }}</span>
        <img src="{{ asset('bundles/payplugsyliuspayplugplugin/assets/oney/' ~ logo_name) }}" alt="oney-logo"/>
        {% if data is not empty %}
            {% include '@PayPlugSyliusPayPlugPlugin/SyliusShopBundle/oney/popin.html.twig' %}
        {% endif %}
    </div>
    <link rel="stylesheet" href=href="{{ asset('bundles/payplugsyliuspayplugplugin/assets/oney/cart/index.css') }}">
{% endif %}
