@import "../../settings/constants.scss";

// @see https://github.com/Sylius/Sylius/blob/1d6650f2da82ccd8970898be29649016ab18b0d0/src/Sylius/Bundle/ShopBundle/Resources/private/scss/theme.scss#L1067
%label {
    display: flex !important;
    margin-top: 0 !important;
    padding: 1em !important;
}

.oney-payment-choice,
.payplug-payment-choice {
    display: none;

    &__container {
        display: flex;
        margin: 1rem 0;
    }

    &__header {
        p {
            margin: .5em 0 !important;
            color: $black;
        }
    }

    &__item {
        flex: 1 1 auto;

        &--oney_x3_with_fees,
        &--oney_x3_without_fees {
            margin-right: 1em;
        }

        input {
            display: none;

            &:checked + label {
                border-color: $green;
                background-color: transparentize($green, .87);

                &.payplug-payment-choice__label {
                    border-color: $paypluggreen;
                    background-color: transparentize($paypluggreen, .87)
                }
            }
        }

        label {
            @extend %label;
            width: 100%;
            height: 100%;
            cursor: pointer;
            position: relative;
            flex-direction: column;
            border: 1px solid $lightgrey;
            box-shadow: 0 1px 2px 0 transparentize($darkgrey, .85);
            border-radius: .28571429rem;
            transition: border-color, background-color 300ms ease-in-out;

            img {
                vertical-align: text-bottom;
            }
        }
    }

    &__content {
        display: contents;

        p {
            color: $black;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            border-bottom: 1px solid $lightgrey;
            margin: 0 !important;
            padding: .75rem 0 !important;

            &:nth-last-of-type(2) {
                margin-bottom: 1rem !important;
            }

            &:last-of-type {
                margin-top: auto !important;
                border: none;
                margin-bottom: 0 !important;
            }

            &.oney-without-fees-financing {
                display: inline-block;
            }
        }

        small {
            margin-top: .5rem;
            font: {
                size: 80%;
            }
        }
    }
}

.oney-payment-choice {
    &__tab {
        display: none;
    }

    &__header {
        margin: 0 auto;
        text-align: center;
    }
}

[data-gateway="oney"] {
    padding: 0 !important;
    margin-top: 10px !important;
}

.payment-item {
    .oney-logo[src*=without-fees] {
        max-width: 200px;
    }

    apple-pay-button {
        --apple-pay-button-width: 222px;
        --apple-pay-button-height: 40px;
        --apple-pay-button-border-radius: 4px;
        --apple-pay-button-padding: 4px 4px;
        --apple-pay-button-box-sizing: border-box;
        transition: background-color 0.3s ease-in-out;
        display: none;
        min-width: 140px;
        max-width: 100%;

        &.enabled {
            display: block;
        }
    }

    label {
        cursor: pointer;
    }

    .bancontact-method,
    .apple-pay-method,
    .american-express-method {
        label {
            position: relative;

            img {
                position: absolute;
                left: 100%;
                margin-left: 0.5em;
                top: -12px;
            }
        }
    }
}

.payplug-payment-choice {
    &__container {
        flex-direction: column;
    }

    &__item {
        margin-bottom: 1em;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .card-expiry span {
            font-weight: 700;
        }
    }
}

.oney-complete-info-popin {
    position: fixed !important;
    margin: auto !important;
    text-align: center;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    max-width: 480px;
    z-index: 4;

    &__header {
        text-align: right;

        a.close {
            > span {
                position: absolute;
                width: 15px;
                height: 2px;
                right: .5em;
                top: 1em;
                margin: 0;
                border-radius: 0;
                background-color: transparentize($black, .95);

                &:first-of-type {
                    transform: rotate(45deg);
                }

                &:last-of-type {
                    transform: rotate(-45deg);

                }
            }
        }
    }

    &__content {
        text-align: left;

        ul {
            list-style: none;
            padding: 0;

            li {
                display: inline-block;
                margin: 0 .14285714em;
                padding: .5833em .833em;
                font-weight: 700;
                border-radius: .28571429rem;
                background-color: $red;
                border-color: $red;
                color: $white;
                font-size: .85714286rem;
            }
        }
    }

    &__success {
        display: none;

        i.icon {
            display: inline-block !important;
            color: $neongreen;
        }
    }
}

.ui.container {
    position: relative;
}

.inactive {
    pointer-events: none;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    background: transparentize($black, .75);
    z-index: 3;
}

@media screen and (max-width: 991px) {
    .oney-payment-choice,
    .payplug-payment-choice {
        &__container {
            display: block;
        }

        &__content {
            small {
                width: 100%;
            }
        }
    }

    .oney-payment-choice {
        &__tab {
            display: flex;
            justify-content: space-between;

            .tablink {
                padding: 1rem 0;
                flex: 1;
                text-align: center;
                border: 1px solid $lightgrey;
                border-bottom: 0;

                &.active {
                    border-bottom: 5px solid $green;
                }

                p {
                    color: $black;
                }

                &:first-of-type {
                    border-right: 0;
                }

                > .oney-payment__image {
                    max-width: 120px
                }
            }
        }

        &__header {
            display: none;
        }

        &__item {
            display: none;

            input:checked + label {
                border-color: $lightgrey;
                background-color: $white;
            }

            label {
                @extend %label;
                border-top-right-radius: 0;
                border-top-left-radius: 0;
            }

            &--oney_x3_with_fees,
            &--oney_x3_without_fees {
                margin-bottom: 1rem;
                margin-right: 0;
                display: block;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .payplug-payment-choice {
        &__header,
        &__header .card-type,
        &__header .card-expiry {
            display: block;
        }
    }
}
